<div class="body">
    <div class="box">
        <form autocomplete="off" >
            <h2>CONNEXION</h2>
            <br>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="name-user">Utilisateur:</label>
                    <div class="form-holder">
                        <i class="bi bi-person"></i>
                        <input type="text" id="name-user" required="required" class="form-control" name="username">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="" >Mot de passe:</label>
                    <div class="form-holder">
                        <i class="bi bi-lock-fill"></i>
                        <input type="password" required="required" name="password" class="form-control"
                            placeholder="********">
                    </div>
                </div>
            </div>
            <div class="links">
                <a href="#">Mot de passe oublier ?</a>
                <a class="register" routerLink="/register">Inscription</a>
            </div>
            <br>
            <div class="button-holder">
                <button>Se connecter</button>
            </div>
        </form>
    </div>
</div>