<div class="d-flex align-items-center vh-100">
    <div class="flex-shrink-0">
        <img src="../../../assets/img/IA.webp" alt="image doctor">
    </div>
    <div class="flex-grow-1 ms-3">
        <h1 class="text-center title-main">Sign Up</h1>
        <p class="text-center">Your time and skills can make a big difference</p>
        <p class="text-center personalInfo">Personal information</p>
        <form #formInscriptionControl="ngForm" class="main-items was-validate" >
            <div class="d-flex form-group justify-content-around mx-2 ">
                <div class="d-block">
                    <label for="username">Username</label>
                    <input type="text"
                     class="form-control"
                      id="username"
                      [(ngModel)]="user.username"
                      #usernameControl="ngModel"
                      name="username"
                       placeholder="name">
                </div>
                <div class="d-block">
                    <label for="name">Name</label>
                    <input type="text"
                     class="form-control" 
                     id="name" 
                     placeholder="name"
                     name="name"
                     [(ngModel)]="user.name"
                     #nameControl="ngModel">
                </div>
            </div>
            <div class="d-block w-100">
                <label for="mail">email</label>
                <input type="text" 
                class="form-control" 
                id="mail"
                [(ngModel)]="user.mail"
                #mailControl="ngModel"
                name="mail"
                 placeholder="mcdo.ric@gmail.com">
            </div>
            <div class="form-group d-flex justify-content-around">
                <div>
                    <label for="">password</label>
                    <input type="text"
                     class="form-control"
                     [(ngModel)]="user.password"
                     #passwordControl="ngModel"
                     name="password"
                      placeholder="">
                </div>
                <div>
                    <label for="">Confirm</label>
                    <input type="text"
                     class="form-control"
                     [(ngModel)]="user.confirm"
                     name="confirm"
                     #confirmPasswordControl="ngModel">
                </div>
            </div>
            <div class="form-group d-flex justify-content-around">
                <div>
                    <label for="">Birthday</label>
                    <input type="date"
                     class="form-control"
                     [(ngModel)]="user.birth"
                     name="birth"
                     #birthControl="ngModel">
                </div>
                <div>
                    <label for="">Gender</label>
                    <input type="text" 
                    class="form-control" 
                    placeholder="male or female"
                    [(ngModel)]="user.sexe"
                    name = sexe
                    #sexeControl="ngModel">
                </div>
            </div>
            <button class="btn btn-success mt-3 padding">Enregister</button>
        </form>
    </div>
</div>
